* {
  min-height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(27, 26, 26),
    rgb(169, 169, 190)
  );
}

h1 {
  text-align: center;
  color: white;
  font-size: 2.3em;
  font-weight: bolder;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  background-color: brown;
  border-radius: 5px;
  padding: 9px;
  margin-right: 10px;
}
a:hover {
  background-color: white;
  color: black;
}
